.TodoItem {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.todo-title {
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.todo-text {
    font-weight: 300;
    text-transform: capitalize;
}

.todo-button {
    font-weight: 600;
}

.todo-cancel-button {
    font-weight: 300;
}

.TodoItem.btn-sm:hover {
    color: #dc3545;
}