.LoadingSpinner {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.LoadingSpinner:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, .2);
    border-color: #000 transparent #000 transparent;
    animation: LoadingSpinner 1.2s linear infinite;
}
@keyframes LoadingSpinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}