.ErrorBanner {
    float: top;
    background-color: rgba(185, 10, 10, 0.5);
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    border-radius: 12px;
}

.err-header {
    font-size: 1.2em;
    font-weight: 600;
}

.err-header strong {
    margin: 0 !important;
}