.icon {
    margin-left: 20px;
    font-family: "Damion", cursive;
    font-size: 2.5em !important;
    color: white !important;
}

.NavBar {
    background-color: #28838b;
    min-height: 50px;
    width: 100%;
}

.NavBar button {
    margin-right: 20px;
}