.modal-title {
    width: 80% !important;
}

.todo-empty-textarea {
    min-height: 40vh;
}


input[type="text"],
textarea.form-control {
    background: transparent;
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
textarea.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}